/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #4682b4;
    color: white;
    padding: 20px 0;
}

/* Логотип */
.logo {
    width: 100px;
    height: auto;
}

/* Основний контент */
main {
    padding: 20px;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #4682b4;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
